body {
  background-color: black;
}

/* Upper Canvas */
#top-canvas {
  width: 800px;
  height: 60px;
  background-color: black;
  border: 1px solid red;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* Botton Canvas */
#canvas1 {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* [WORKS] GitHub Project Link  */
#github-canvas {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 7%;
  left: 75%;
  transform: translate(-50%, -50%);
  background-color: rgb(201, 201, 201);
  border-top: 3px solid rgb(201, 201, 201);
  border-bottom: 3px solid rgb(201, 201, 201);
  border-radius: 4px;
}

#github-canvas:hover {
  cursor: pointer;
  background-color: white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

/* [TEST] Bottom Links */

#bottom-text {
  font-family: Helvetica;
  font-size: 16px;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkedin-link, .github-link, .angellist-link {
  color: white;
}

.linkedin-link, .github-link {
  margin-right: 20px;
}
